<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Coches App</span>
        <mat-icon class="align-icon"></mat-icon>
        
        <div class="example-flex-container">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/login']" routerLinkActive="mat-accent">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>      
    </mat-toolbar-row>
</mat-toolbar>



