<div class="background-color" fxLayout="row wrap">
  <div fxFlex="40%">
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title fxFlexAlign="center"></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/Coches/audia5.jpg" />
    </mat-card>
  </div>
  <div fxFlex="max-content" fxFlexFill>
    <mat-card >
      <mat-card-header class="info-coches">
        <mat-card-title fxFlexAlign="center">
          <h4>AUDI A5 | AÑO 2021 | 0 KM | AUTOMATICO | MADRID</h4>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
