<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>directions_car</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>contact_support</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings_phone</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>privacy_tip</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>cookie</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
